
<div class="nav">
    <i><h1>Contact Us</h1></i>
    <ul>
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/bookticket">Booking</a></li>
        <li><a routerLink="/aboutus">AboutUs</a></li>
        <li><a routerLink="#">Contact</a></li>
                 
    </ul>
</div>

<body>
    
        <table >
                <td>
                     <P> 
                         <font color="red"><b>Call:0113 40 60 22</b></font><br><br>
                           <u><b> Normal Hours Operation</b></u><br><br>
                            Monday to Friday 08:00 - 17:30<br>
                            Saturdays 09:00 - 13:00<br>
                            Sunday 10:00 - 13:00<br>
                            Public Holidays 09:00 - 12:00
                     </P>
                  </td>
                        <!-- <div id="box">
                  <form>
                        <b>Did we delight or disappoint you?</b><br><br>
                        <label for="Message">Submit FeedBack here</label><br>
                        <textarea text="subject" placeholder="Write something.." ></textarea><br>
                        <input type="submit" value="Submit">
                  </form> -->
                  
                  
                <!-- </div> -->

                    </table>               
                    <footer>@FlightGo Group(South Africa)PTY(Ltd)  Designed By:Mokhwebane Petunia<br>Queries call 011 254 0022</footer>
    
</body>