
    
        <div class="nav">
           <i><h1>View Booked Ticket</h1></i>
        </div>
            
<body>

        <table> 
            <div class="ticket">
            <i><h2>Ticket</h2></i>
            </div>   
          
       <div class="sizes">
            <tr>
            <td>Title:{{title}}</td>
           </tr> 
           <tr>
            <td>Name:{{firstname}}</td>
           </tr> 

            <tr>
            <td>Surname:{{surname}}</td>
            </tr> 

            <tr>
            <td>Departure City:{{Fromplace}}</td>
            </tr> 
             
            <tr>
            <td>Destination City: {{Toplace}}</td>
            </tr>

            <tr>
            <td>Departure Date:{{dateFrom}}</td>
            </tr>
            <td>Return Date:{{dateTo}}</td> 
        </div>
    </table>  

    <footer>@FlightGo Group(South Africa)PTY(Ltd)  Designed By:Mokhwebane Petunia<br>Queries call 011 254 0022</footer>
    </body>
    <router-outlet></router-outlet>
