.nav{
    background-color:brown;
    padding: 20px;
    text-align: center;
}


table{
    border: 5px solid brown;
    text-align:left;
    justify-content: center;
    margin:auto;
    width: 20%;
    min-height: 80%;
    margin-top: 30px;
    padding: 60px;
    padding-left: 0px;
    background-color:white;
    border-radius: 20px;

    
    
}
.ticket
{
    text-align: center;
    font-size: 180%;
}
.sizes{
    font-size: 120%;
}