

    <div class="nav">
    <i><h1>FlightGo Airways</h1></i>
    <ul>
        <li><a routerLink="#">Home</a></li>
        <li><a routerLink="/aboutus">AboutUs</a></li>
        <li><a routerLink="/contact">Contact</a></li>
                 
    </ul>
</div>


<html>
    <body >
  
    <form>
    <input type="submit" name="submit"(click)="booking()" value="Click to make Booking" />
   </form>

  
   <marquee   diretion="right"  >Lets Fly around the world...</marquee> 

   <footer>@FlightGo Group(South Africa)PTY(Ltd)  Designed By:Mokhwebane Petunia<br>Queries call 011 254 0022</footer>

</body>
</html>

<router-outlet></router-outlet>












