
<div class="nav">
    <i><h1>About FlightGo Group</h1></i>
    <ul>
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/bookticket">Booking</a></li>
        <li><a routerLink="#">AboutUs</a></li>
        <li><a routerLink="/contact">Contact</a></li>
                 
    </ul>
</div>


<body>
    
    <table >
        
  <tr valign="top">
     <td  bgcolor="#ffcc66"  height="200px">
        <i><b>Our Vision</b><br></i>
        <p> To be the worlds most exciting travel company and deliver the amazing exprince to our people</p>
     </td>
     <td  bgcolor="deb887" height="100%">
          <i><b>Who are we...</b></i> 
          <p>FlightGo Airways is the world class retail travel network comprising of 100 outlets, with a state of the art interactive
            and bookable website, committed to bringing you best priced holiday deals. From local to international
            flights to unbeatable packaged holidays all around the world, our highly skilled experts and online
            functionality are commitment to finding our customers value for money in every booking. No matter which way
            you would like to interact with us we are there for you</p>
    </td>
    <td  bgcolor="#ffcc66" height="200px">
            <i><b>Our Purpose</b></i>
            <p>To open up the world for those who want to see it and give them great value travel experiences.</p>
         </td>
     
  </tr>

</table>
<footer>@FlightGo Group(South Africa)PTY(Ltd)  Designed By:Mokhwebane Petunia<br>Queries call 011 254 0022</footer>
    
</body>